.exploremain {
    width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;

    &__location {
        border-bottom: .0625rem solid #d8d9db;

        h5 {
            text-align: left;
        }
    }

    &__popular {
        header {
            display: flex;
            border-bottom: .0625rem solid #d8d9db;
            padding-top: 2rem;

            h2 {
                text-align: left;
                width: 90vw;
            }


        }

        &__view {
            display: flex;
            width: 10vw;
            padding: 1.7rem 1rem 1rem 1rem;
            color: #2a945b;
            font-weight: 550;
        }

        &__grid {
            padding-top: 1rem;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
        }


    }
}

@media only screen and (max-width: 800px) {
    .exploremain__popular__grid {
        margin-left: 15vw;
        grid-template-columns: repeat(1, 16rem);
        grid-template-rows: repeat(5, 1fr);
    }
}