.studentCoursePageContent{
    margin-top: 5vh;

    .course{
        display: flex;
        justify-content: space-evenly;
        margin: auto;
        margin-top: 30px;

        .divider {
            height: 100%;
        }

        &__material {
            // border: 1px red solid;
            width: 65%;
            // padding: 30PX;
        }

        &__recentUpdates{
            border: 1.5px rgba(0, 0, 0, 0.12) solid;
            width: 23%;
            max-height: 400px;
            overflow-y: scroll;

            .title{
                background-color: rgba(0, 0, 0, 0.12);
                // margin-top: 0;
            }
        }
    }
}