.card{    
    img{
        width: 15rem;
        height: 15rem;
        min-width: 10rem;
        min-height: 10rem;
        margin-top: 15px;
    }
    img:hover{
        transform: scale(1.1);
    }
    .name{
        color: rgb(36, 48, 43);
        font-size: 18px;
    }
    .name:hover{
        color: rgb(193, 212, 202);
    }
}