.wrapper {
    display: grid;
    display:flex;
 
    //margin-left: 100px;
    margin-top:1000;
   // margin-right: 100px;
    justify-content: flex;
    justify-content: center;
    padding-left: 50px;
    flex:wrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    //max-width: 1200px;
    // margin-block: 2rem;
    gap: 2rem;
 
    
    //  grid-row: inherit; 
    grid-template-rows: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    // img{
    //   padding-left: 50px;
    // }

    p{
      justify-content: flex;
      justify-content: center;
      padding-left: 50px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      // font-weight: bold;
    }


  }

  /* .wrapper img {
      margin-top: 100px;
      border-radius: 50%;
      margin-left: 100px;
  } */
  /* .wrapper article img {
    width: 100%;

  } */
  
  @media only screen and (max-width: 1600px) {
    .wrapper {
      grid-template-rows: repeat(3, 1fr);
    }
  }
  @media only screen and (max-width: 1200px) {
    .wrapper {
      grid-template-rows: repeat(3, 1fr);
    }
  }
  @media only screen and (max-width: 820px) {
    .wrapper {
      grid-template-rows: repeat(2, 1fr);
    }
  }
  @media only screen and (max-width: 420px) {
    .wrapper {
      grid-template-rows: repeat(4, 1fr);
    }
  }