.wrapper {
    margin: auto;
    height: 60vh;
    width: 60vw;
    position: relative;
    overflow: auto;

    img {
        height: 100%;
        width: 100%;
    }

    .text {
        top: 10%;
        left: 10%;
        position: absolute;
        color: white;

        p {
            font-size: 3vw;
        }

        h1 {
            font-size: 6vw;
        }

    }
}