.container {

    .ClassAndCourses {
        margin: auto;
        // border: 1px red solid;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 50px;

        .myClass {
            display: flex;
            justify-content: center;
            align-content: center;
            margin-bottom: 40px;
        }

        .myCourses{
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
        }
    }
}