.container{
    margin: auto;
    width: 200px;
    height: 200px;
    position: relative;
    transform: rotate(-45deg);

    .box{
        position:absolute;
        width: 100px;
        height: 100px;
    }
        
    .black{
        background-color: black;
        bottom:25%;
        left:25%;

        }
    
    .box3{
        background-color: rgb(24, 167, 233);
        bottom:0;
        left:0;
        z-index: 1;
        }
    .box2{
        background-color: rgb(255, 251, 0);
        bottom:0;
        right:0;
        z-index: 1;
        }
        
    .box1{
        background-color: brown;
        top:0;
        right:0;
        }
        
    
}
