.wrapper {
	width: 450px;
	height: 550px;
	top: 50%;
	left: 50%;
	box-shadow: 3px 3px 3px 3px#88888895;
	background-color: rgba(44, 104, 42, 0.678);
	padding: 200px 50px;
	box-sizing: border-box;
	position: absolute;
	transform: translate(-50%, -50%);
	text-align: center;

	>img {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
		top: 23%;
		left: 50%;
	}

	.inputs {
		//display: flex;
		width: 17rem;
		margin: 1rem;
	}

	.button {
		position: absolute;
		margin: 1rem;
		right: 5rem;
	}
}