td,
th {
	border: 1px solid #ddd;
	padding: 8px;
	width: 30%;
	text-align: center;
	//flex-wrap: wrap;
	//   align-items: center;
	//   justify-content:center;

	img{
		width: 70px;
	}

}


.btn {
	//position: absolute;
	margin-left: 0.5rem;
	width: 5rem;
	//left: 3rem;
}