td,
th {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
	//flex-wrap: wrap;
	text-align: left;

	img{
		width: 120px;
	}

	 .text{
		width: 40%;
		text-align: left;
	 }

}

.btn {
	width: 80px;
}

