.container {
	//display: flex;
    align-items: center;
	justify-content:center;
	margin-top: 2rem;
	position: absolute;
	left: 5%;
	//right: 5%;
	width: 90%;
	//box-shadow: 3px 3px 3px 3px#88888895;
	
	.inputs {
		//display: flex;
		width: 10rem;
		margin-right: 1rem;
	}

	.button {
		//position: absolute;
		margin-top: 1rem;
		margin-bottom: 1rem;
		width: 10rem;
		//left: 3rem;
	}
	.addProduct , .addTreatment{
		margin-top: 3rem;
		margin-bottom: 3rem;

	}
}