<<<<<<< HEAD
.cardContainer{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-top: 100px;
=======
.cardContainer{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-top: 100px;
>>>>>>> saleem
}