.contentList{
    background-color: #F0F0FF;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 15px;

    .listInformation{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;

        .listImage{
            height: 100%;
            .listImage_img{
                width: 70px;
                border-radius: 50%;
            }
        }
        .listInformation_info{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 70%;
            gap: 20px;

            .headerInfo{
                
            }
            .listInformation_info_list{
                display: flex;
                flex-wrap: wrap;
                gap: 15px;

                .info{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: fit-content;
                    gap: 10px;
                    color: #555656;

                    img{
                        width: 25px;
                    }
                }
            }
        }
    }
}