.calbtn{
    width: 20vw;
    height: 5vh;
    position: absolute;
    top:10%;
    left: 700px;

    // background-color: rgba(151, 144, 136, 0.705);
}

.maindiv{
    position: relative;
    top: 10%;

    // h3{
    //     position: absolute;
    //     left: 30%;
    //     top: 35%;
    // }
    .courses{
        position: absolute;
        left: 27%;
        top: 28%;
        width: 50vw;
        height: 200px;
        display: flex;
    //     flex-direction: column;
    }
}
