.wrapper{
  background-image: url(images.jfif);
  font-size: 40px;
  color: white;
  position: relative;
  height: 150px;
  margin-top: 50px;
  margin-left: 30px;
}
.title{
  width: 100px;
  position: absolute;
  bottom: 30px;
}
.text{
  width: 100px;
  position: relative;
  font-size: 20px;
  bottom: 0px;

}