body{
    background-color: rgb(218, 238, 231);
}
h1{
    color: rgb(214, 42, 42);
}
p{
    color: yellow;
}

.big-italic{
    color: beige;
    font-size: 1.2rem;
    font-style: italic;
}

.startImage{
    width: 300px;
}