.offersCard {

    justify-content: center;
    // background-color: #41403f7c;
    border: .0625rem solid #4164b1;
    border-radius: 0px;
    border-style: double;
    margin: 5px;
    height: 30vh;
    width: 10vw;
    position: relative;
   top: 400px; 
     left: 600px;

    &:hover {
        transform: translateY(-1rem)
    }


        // .txt{
        //     position: absolute;
        //     top: 65%;
        //     left: 25%;
        // }


}
p{
    font-weight: 500;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}