.addOffer{
    margin-left: 500px;
    margin-top: 100px;
    width: 40vw;
//   align-items: center;
//   text-align: center;
  align-content: center;
    .formAddOffer{
        align-content: center;
        position: relative;
        margin-left: 140px;
        width: 20vw;
   
    }

    input{
        width: 20vw;
    }
    .textfield1{
        height: 10vh;

    }
}
