.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    
    img {
        width: 15rem;
        height: 15rem;
        flex-wrap:wrap ;
        background-color: red;
    }

    &__Title {
        font-size: 26px;

    }
}