
    .product{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.144) ;
    width: 100%;
    margin: 10px;
    position: relative;
   

    img{
        
        width:100%;
        height:100%;
      
    }
    img:hover{
        transform: scale(1.2);
        z-index: 1;
        opacity: 0.9;
        cursor: pointer;
        box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.514);
    }
   
    &_link{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

            a{
                color:  rgba(73, 48, 24, 1);
                font-weight: bold;
                font-size: 3rem;
               display: flex;
               align-items: center;
              // flex-wrap: wrap;
               justify-content: center;
                position: absolute;
                bottom: 25px;
                background-color: rgba(238, 230, 230, 0.363);
                font-size: 2rem;
                font-style: italic;
                width: 70%;
               
                
            }}
    
}
