.restaurateur {
    width: 100%;

    &__main {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        min-height: 30rem;

        &__owner {
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            width: 80%;
            border-bottom: .0625rem solid #d8d9db;

            &__title {
                font-size: 1.5rem;
                text-align: left;
                opacity: 0.8;
                font-weight: 700;
                padding-bottom: 1rem;
                border-bottom: .0625rem solid #d8d9db;
            }

            &__cards {
                margin-bottom: 1rem;
                margin-top: 1rem;
            }

        }
    }
}