.wrapper{
    display: grid;
   // background-color: wheat;
    //grid-template-columns: 400px  400px;
    grid-template-rows: 50px 100px 50px 100px 50px 100px;
  //  gap: 10px;


    .item1{        
        background-color: black;
        color: white;
        .title{
            font-size: 20px;
        }

    }
    .item2{
        background-color: black;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        //gap: 5px;
        .child img{
           // grid-column: 1/3;
            height: 100px;
        }
        .child img:hover{
            transform: scale(1.5);   

        }
        
 
    }
    .item3{
        background-color: black;
        color: white;
        .title{
            font-size: 20px;
        }

    }
    .item4{
        background-color: black;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
        .child img{
            height: 100px;

        }
        .child img:hover{
            transform: scale(1.5);   

        }

    }
    .item5{
        background-color: black;
        color: white;
        .title{
            font-size: 20px;
        }

    }
    .item6{
        background-color: black;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr  ;
        .child img{
            height: 100px;
        }
        .child img:hover{
            transform: scale(1.5);   

        }
    }
}