.wrapper{
    display: grid;
    background-color: wheat;
    grid-template-columns: auto 100px auto auto;
    grid-template-rows: repeat(10, 100px);
    gap: 20px;

    .item{
        background-color: purple;
       
    }

    .green{
        background-color: green;
    }
}