.restaurantCard {
    border: .0625rem solid #d8d9db;

    img {
        max-width: 16rem;
    }

    h3 {}

    &__booking {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;

        img {
            box-sizing: border-box;
            max-width: 1.5rem;
        }

        &__title {
            font-size: 0.875rem;
            font-weight: 550;
        }
    }

    &__reserve {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;

        &__btn {
            background-color: white;
            color: #2a945b;
            border: .0625rem solid #2a945b;
            font-size: 16px;
            padding: 0.25rem 1rem
        }
    }
}