.logo {
    width: 150px;
    margin: -4px 8px 0 8px;
    height: 30px;
    background-image: url(https://cdn.sstatic.net/Img/unified/sprites.svg?v=fcc0ea44ba27);
    background-position: 0 -500px;
}

#placeholder-content {
    height: 800px;
}

#placeholder-footer {
    height: 100px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:rgb(250, 250, 251);
    border-top: 3px solid rgb(244, 128, 36);
    box-shadow: (0, 0, 0, 0.05) 0px 1px 2px 0px, rgba(0, 0, 0, 0.05) 0px 1px 4px 0px, rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;
}

nav a.current {
    background-color: #EFF0F1;
    color: rgb(12, 13, 14);
    text-decoration: none;
    border-right: 3px solid rgb(244, 128, 36);
    font-weight: 700;
    display: block;
    padding-left: 8px;
    line-height: 31px;
}

h1 {
    margin: 0;
    font-size: 27px;
    font-weight: 400;
}
h6{
    top: 0;

    margin-top: 0;
    font-weight: 400;
}

.panel {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px, rgba(0, 0, 0, 0.05) 0px 1px 4px 0px, rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;
    border: 1px solid rgb(214, 217, 220);
    margin-bottom: 16px;
    width: 298px;
    border-radius: 3px;
}

.panel > h2 {
    background-color: fafafb;
    margin: 0;
    padding: 12px 15px;
    color: rgb(83, 90, 96);
    font-size: 15px;
    font-weight: 400;
    border-bottom: 1px solid rgb(214, 217, 220);
}

.panel > div {
    padding: 4px 15px;
}

footer {
    background-color: rgb(36, 39, 41);
    color: rgb(106, 115, 124);
}

body {
    margin: 0;
}

.header-inner {
    height: 47px;
    display: flex;
    align-items: center;
}

.header-inner, .middle-area, .footer-area {
    max-width: 1264px;
    margin: auto;
}

.middle-area {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.content-area {
    padding: 24px;
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    border-left: 1px solid #d6d9dc;
}

.nav-area {
    padding-top: 24px;
}

main {
    flex: 1 1 450px;
  
}

nav {
    position: sticky;
    top: 74px;
    width: 164px;
}

.footer-area {
    padding: 24px;
}