.exploremain {
    //width: 80%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;

    &__location {
        border-bottom: .0625rem solid #d8d9db;
        display: flex;
        align-items: center;

        h5 {
            text-align: left;
            opacity: 0.8;
        }

        &__get {
            display: flex;
            align-items: center;

            img {
                width: 1.5rem;
                height: 1.5rem;
                margin-left: 1rem;
            }

            h5 {
                color: #2a945b;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &__popular {
        width: 100%;

        header {
            opacity: 0.8;
            display: flex;
            border-bottom: .0625rem solid #d8d9db;
            padding-top: 2rem;
            justify-content: space-between;

        }

        &__view {
            display: flex;
            //width: 10vw;
            padding: 1.7rem 1rem 1rem 1rem;
            color: #2a945b;
            font-weight: 550;
            margin-left: auto;
            align-items: center;
        }

        &__grid {
            width: 100%;
            padding-top: 1rem;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            align-items: center;
        }


    }

    &__restaurateurs {
        margin-top: 3rem;
        margin-bottom: 3rem;
        border-radius: 4px;

        &__background {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            margin: auto;
            background-size: cover;
            flex-direction: column;
            background-image: url(//cdn.otstatic.com/cfe/7/images/restaurateurs-join-us-mobile-643fc3.jpg);
            background-position: 50%;
            background-repeat: no-repeat;
            height: 17rem;
            width: 100%;
            border-radius: 4px;

            &__color {
                background-color: rgba(45, 51, 63, .7);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 0;
                border-radius: 4px;

            }

            h2 {
                color: white;
                z-index: 0;
                margin-bottom: 0;
            }

            h3 {
                color: white;
                z-index: 0;
                max-width: 25rem;
            }

            &__btn {
                background-color: #DA3732;
                z-index: 0;
                height: 100%;
                height: 2.5rem;
                margin-left: 30px;
                min-width: 10rem;
                border: none;
                color: white;
                border-radius: 4px;
                font-size: 17px;

                &:hover {
                    background-color: #931b23;
                }
            }
        }

    }
}

@media only screen and (max-width: 800px) {
    .exploremain__popular__grid {
        grid-template-columns: repeat(1, 16rem);
        grid-template-rows: repeat(5, 1fr);
        display: flex;
        flex-direction: column;

    }
}