* {
  margin: 0;
}
.wrapper {
  background-color: rgb(231, 227, 227);
  height: 100vh;
  display: flex;
  flex-direction: column;
  .mainpage {
    background-image: url(../Images/cover2.jpeg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 34vh;
    background-size: cover;
    position: relative;
    h1 {
      color: white;
    }
    .header {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      img {
        position: relative;
        border-radius: 50%;
        width: 7vw;
        height: 5vh;
        top: 3vh;
        right: 0.3rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4),
          0 6px 20px 0 rgba(0, 0, 0, 0.2);
        border: 2px solid orange;
        border-left-color: transparent;
        object-fit:cover;
        cursor: pointer;
      }
      .menu-icon > .line {
        background-color: white;
        height: 0.3vh;
        margin: 0.3rem;
        position: relative;
        cursor: pointer;
        top: 3.4vh;
        width: 5vw;
        left: 0.3rem;
        display: block;
      }
    }
  }

  .down {
    font-size: 1.5rem;
    position: relative;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    top: 18vh;
    left: 3vw;
    gap: 0.3rem;
    h1 {
      position: relative;
      top: -4vh;
    }

    p {
      font-size: 0.9rem;
      color: white;
      font-weight: normal;
      position: relative;
      top: -3vh;
    }
  }
  .search-bar {
    position: absolute;
    display: flex;
    background-color: white;
    width: 65vw;
    border: 1px solid orange;
    left: 16vw;
    top: 3vh;
    z-index: 3;
    padding: 0.3rem;
    margin: 1vh;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 5vh;

    .left-div {
      display: flex;
      flex-direction: column;
      p {
        margin: 0.3rem;
        color: orange;
        font-size: 0.5em;
        font-weight: bold;
        position: relative;
        top: 0;
      }
      .input__div {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        input {
          border: 1px solid white;
          height: 40%;
          width: 30%;
          font-size: 10px;
        }
        input[type="text"] {
          background: transparent;
          border: none;
        }
      }
    }
    .right-div {
      padding: 1vw;
      width: 10%;
      display: flex;
      align-items: center;
      border-right: 2px solid rgb(251, 144, 4);
      img {
        width: 4vw;
        height: 2vh;
      }
    }
  }

  .grid {
    display: grid;
    height: 40vh;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
    width: 100%;

    &__items {
      display: grid;
      grid-template-rows: repeat(1, 1fr);
      width: 100%;
      .div_h {
        position: relative;
        top: 4rem;
        width: 85vw;
        display: flex;
        justify-content: space-between;
        font-size: 0.9em;
        a {
          color: orange;
        }
      }
      .list {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: min-content;
        position: relative;
        align-items: center;
        justify-content: center;
        text-align: center;
        top: 5rem;
        gap: 1rem;
        grid-auto-flow: 20%;
        padding: 0.3rem;
        grid-auto-flow: column;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
      }
    }
  }
}
