.wrapper {
    //display: flex;
    width: 100vw;
    height: 100vh;
    //flex-direction: column;
    // justify-Content: center;
    //  align-Items: center;
    background-color: #E5E5E5;


    .travelheader {
        position: fixed;
        top: 10%;
        display: flex;
        //  justify-Content: center;
        //align-Items: center;
        border-bottom-right-radius: 70px;
        border-bottom-left-radius: 70px;
        width: 100%;
        height: 35vh;
        background-color: #FFFFFF;

        .travelpic {
            border-bottom-right-radius: 70px;
            border-bottom-left-radius: 70px;
            background-image: url(https://media.architecturaldigest.com/photos/5cc35bea39b7d6ac4b1b2675/16:9/w_2560%2Cc_limit/GettyImages-960609922.jpg);
            background-size: 150%;
            background-position: center;
            width: 100%;
            height: 80%;
        }

        .CompasIcon {
            border: 1px solid black;
            align-self: flex-end;
            position: fixed;
            top: 32%;
            left: 5%;
            background-color: #FF8074;
            color: white;
            font-size: 10px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 50%;
            display: block;
            height: 50px;
            width: 50px;
            border: 1px solid #FF8074;
            background-image: url(../../../icons/compass.ico);
            background-size: contain;

            img {
                width: 50%;
                height: 50%;
            }
            &:hover{
                background-color: #ff5040;

            }

        }




    }

    .funthings {
        position: fixed;
        padding-top: -5px;
        background-color: white;
        width: 100%;
        text-align: center;
    }

}