.mainTemplate{

    .mainHeader{
        img{
            width: 28vw;
            height: 20vh;
        }
    }

    .mainContent{

        .signInButtonGoogle{
            margin-top: 20px;
            .gmailSignUp{ 
                background-color: white;
                border: 1px solid #7065F2;
                color: black;

                img{
                    width: 20px;
                }

                label{
                    margin-left: 10px;
                    font-size: 0.8rem;
                }
            }

            .gmailSignUp:hover{
                opacity: 0.8;
                background-color: rgba(128, 128, 128, 0.151);
            }
        }

        .signInButtonFaceBook{
            margin-top: 10px;
            .gmailSignUp{ 
                background-color: white;
                border: 1px solid #7065F2;
                color: black;

                img{
                    width: 20px;
                }

                label{
                    margin-left: 10px;
                    font-size: 0.8rem;
                }
            }
        }

        .orSplit{
            margin-top: 10px;
            display: flex;

            .orWord{
                color: grey;
                width: 20vw;
                font-size: 1rem;
            }
        }
        .orSplit:before,
        .orSplit:after {
            content: "";
            flex: 1 1;
            border-bottom: 1px solid rgb(151, 148, 148);
            margin: auto;
        }

        .loginWithEmailAndPass{ 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .passRegistered{
                margin-top: 10px;
            }

            .haveAccount{
                font-size: 0.7rem;
                color: rgb(134, 124, 124);

                span{
                    color: #7065F2;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .mainTemplate{

        .mainHeader{
            img{
                width: 40vw;
                height: 15vh;
            }
        }

        .mainContent{

            .templateInput{
                height: 5vh;
                width: 70vw;
            }

            .templateButton{
                height: 5vh;
                width: 70vw;
            }

            .letsSignUp{
                margin-top: 70px;
            }
           
            .signInButtonGoogle{
                .gmailSignUp{
                    height: 5vh;
                    width: 70vw;

                    label{
                        font-size: 1rem;
                    }
                }
            }
            .signInButtonFaceBook{
                .gmailSignUp{
                    height: 5vh;
                    width: 70vw;

                    label{
                        font-size: 1rem;
                    }
                }
            }

            .loginWithEmailAndPass{

                .EmailRegistered{
                    height: 5vh;
                    width: 70vw;
                }
                .passRegistered{
                    height: 5vh;
                    width: 70vw;
                }
            }
        }
    }
  }