.warpper{
    display: flex;
    justify-content: center;
    .form{
        .btn{
            display: flex;
            justify-content: center;
            float: center;
            text-align: center;
            font-size: 18px;
            background-color: #000000; color: rgb(255, 255, 255);
            padding: 20px;
            border-radius: 12px;
        }
    }
  }
  .warpper a {
    display: flex;
    justify-content: center;
    float: center;
    color: rgb(255, 255, 255);
    background-color: black;
  
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }


.header-right {
  background-color: #000000;
  width: 100%;
  
}


.header-right a {

  color: rgb(255, 255, 255);

  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
/* .header-right a.logo {
  font-size: 25px;
  font-weight: bold;
} */

.header-right a:hover {
  background-color: #ddd;
  color: black;
}
.h1{
  color:  rgb(255, 255, 255);
}



ul {
  list-style-type: none;
  margin: 1fr;
  padding: 2fr;
}


@media screen and (max-width: 500px) {

  
  .header-right {
    float: none;
  }
}
  