.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 8.6vh;
  border-style: solid;
  //  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  z-index: 0;

  &__box {
    display: flex;
    width: 90%;
    height: 100%;
  }

  &__left {
    display: flex;
    //height: 100%;
    width: 70%;
    .categories {
      display: flex;
      //background-color: #e4dadac5;
      border: none;
      //border-radius: 12px;
      //margin-right: 2vw;
      margin-top: 1.5vh;
      margin-bottom: 1.5vh;
      text-align: center;
      justify-content: center;
      color: rgb(250, 240, 240);
      font-size: 14px;
      padding: 12px 24px;
      white-space: nowrap;
      //font-family: Inter, Tajawal, sans-serif;
      font-weight: bold;

      img {
        display: flex;
        width: 20px;
        align-content: center;
        justify-content: center;
        border-radius: 12px;
        margin-right: 2vw;
        margin-top: 1.5vh;
        margin-bottom: 1.5vh;
        //text-align: center;
      }
    }

    img {
      display: flex;
      align-content: center;
      justify-content: center;
      border-radius: 12px;
      margin-right: 2vw;
      margin-top: 1.5vh;
      margin-bottom: 1.5vh;
      text-align: center;
    }
  }

  img {
    // height: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 12px;
    margin-right: 2vw;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    text-align: center;
    //margin-top: 0px;
    width: auto;
    max-height: 70%;
    max-width: 100%;
    align-items: flex-start;
    align-items: center;
    //  margin-top: 3vh;
    overflow: hidden;
    transform: scale(2);
    margin-right: 3vw;
    border-radius: 12px;
    //margin-top: 1vh;
    // padding: 12px 24px;
    //margin: auto;
  }

  a {
    color: black;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
    font-size: 15px;
    font-family: Inter;

    &:hover {
      //background-color: #2a945b;
      font-size: 20px;
      color: #2a945b;
    }
  }
  /*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

  // body
  // {
  //   margin: 0;
  //   padding: 0;

  //   /* make it look decent enough */
  //   background: #232323;
  //   color: #cdcdcd;
  //   font-family: "Avenir Next", "Avenir", sans-serif;
  // }

  &__right {
    display: flex;
    //height: 100%;
    width: 30%;

    &__signin {
      background-color: #000804;
      border: none;
      border-radius: 12px;
      margin-top: 1.5vh;
      margin-bottom: 1.5vh;
      padding: 12px 24px;
      text-align: center;
      color: white;
      font-size: 14px;
      white-space: nowrap;
      font-weight: bold;
    }

    &__signup {
      background-color: #141414;
      border: none;
      border-radius: 12px;
      margin-right: 2vw;
      margin-top: 1.5vh;
      margin-bottom: 1.5vh;
      text-align: center;
      color: rgb(255, 251, 251);
      font-size: 14px;
      padding: 12px 24px;
      white-space: nowrap;
      //font-family: Inter, Tajawal, sans-serif;
      font-weight: bold;
    }

    a {
      color: black;
      text-align: center;
      padding: 20px 24px;
      text-decoration: none;
      font-size: 15px;
      font-family: Inter;
      margin: auto;

      &:hover {
        //background-color: #2a945b;
        font-size: 20px;
        color: #2a945b;
      }
    }
  }
}
