.studentCard{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.3);

    // border: 1px blue solid;

    .content{
        font-size: small;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        // border: 1px blue solid;
    }
    span{
        font-weight: bold;
    }
}