.warpper{
    display: flex;
    justify-content: center;
  
  }
  .warpper logIn{
    background-color: "#889FEF";
  }
  .warpper a {
    display: flex;
    justify-content: center;
    float: center;
    color: rgb(255, 255, 255);
    background-color: black;
  
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  .warpper {
    .submit {
      display: flex;
      justify-content: center;
      float: center;
      color: rgb(255, 255, 255);
      background-color: black;
      min-width: 250px;
      min-height: none;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 18px; 
      line-height: 25px;
      border-radius: 4px;
    }
  }