.mainTemplate{

    .loading{
        width: 100%;
        background-color: white;
        color: black;
        font-size: larger;
    }

    .mainHeader{
        .registerLogo{
            width: 28vw;
            height: 20vh;
        }
    }

    .mainContent{

        .signUpTitle{
            margin-top: 80px;
        }

        .signInButtonGoogle{
            margin-top: 20px;
            .gmailSignUp{ 
                background-color: white;
                border: 1px solid #7065F2;
                color: black;

                img{
                    width: 20px;
                }

                label{
                    margin-left: 10px;
                    font-size: 0.8rem;
                }
            }

            .gmailSignUp:hover{
                opacity: 0.8;
                background-color: rgba(128, 128, 128, 0.151);
            }
        }

        .signInButtonFaceBook{
            margin-top: 10px;
            .gmailSignUp{ 
                background-color: white;
                border: 1px solid #7065F2;
                color: black;

                img{
                    width: 20px;
                }

                label{
                    margin-left: 10px;
                    font-size: 0.8rem;
                }
            }
        }

        .orSplit{
            margin-top: 30px;
            display: flex;

            .orWord{
                color: grey;
                width: 20vw;
                font-size: 1rem;
            }
        }
        .orSplit:before,
        .orSplit:after {
            content: "";
            flex: 1 1;
            border-bottom: 1px solid rgb(151, 148, 148);
            margin: auto;
        }

        .loginWithEmailAndPass{ 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;

            .passRegistered{
                margin-top: 10px;
            }

            .haveAccount{
                font-size: 0.7rem;
                color: rgb(134, 124, 124);
                margin-top: 15px;

                span{
                    color: #7065F2;
                }
            }

            .signUpButton{
                margin-top: 20px;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .mainTemplate{

        .mainHeader{
            .registerLogo{
                width: 40vw;
                height: 15vh;
            }
        }

        .mainContent{
           
            .signInButtonGoogle{
                .gmailSignUp{
                    height: 5vh;
                    width: 70vw;

                    label{
                        font-size: 1.2rem;
                    }
                }
            }
            .signInButtonFaceBook{
                .gmailSignUp{
                    height: 5vh;
                    width: 70vw;

                    label{
                        font-size: 1.2rem;
                    }
                }
            }

            .orSplit{
                margin-top: 10px;
                display: flex;
    
                .orWord{
                    color: grey;
                    width: 20vw;
                    font-size: 1rem;
                }
            }
            .orSplit:before,
            .orSplit:after {
                content: "";
                flex: 1 1;
                border-bottom: 1px solid rgb(151, 148, 148);
                margin: auto;
            }

            .loginWithEmailAndPass{

                .EmailRegistered{
                    height: 5vh;
                    width: 70vw;
                }
                .passRegistered{
                    height: 5vh;
                    width: 70vw;
                }

                .haveAccount{
                    font-size: 0.9rem;
                    color: rgb(134, 124, 124);
                    margin-top: 15px;
    
                    span{
                        color: #7065F2;
                    }
                }
            }
        }
    }
  }