.teacherCoursesPageContent {

    width: 80%;
    margin: auto;
    margin-top: 10vh;

    // border: 1px red solid;

    .divider {
        margin-top: 50px;
    }

    &__courses {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }
}