.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;

    &__item{
        display: flex;
        flex-direction: row;
        align-items: center;
        

        button{
            max-width: 8rem;
            max-height: 8rem;
            margin: 15px;

        }
        button:hover{
            background-color: rgba(40, 40, 110, 0.645);
        }  
        span{
            font-weight: bold;
            margin-left: 25px;
        }
    }

    a {
        text-decoration: none;
    } 
}