

    .card{
        text-align: center;
        max-width: 400px;
        max-block-size: 2fr;
        background-color: blue;
        border-radius: 1rem;
        margin: 5px;
        img {
            width: 250px;
            height: 250px;
        border-radius: 1rem;
    }
        
    }

