.signin{
    width: 100vw;
    height: 100vh;

    img{
        width:20vw;
        height: 20vh;
        border-radius: 30px;
    }


    .icon{
        width:10vw;
        height: 20vh;
        border-radius: 100px;
    }
}

