/* ================
   Assign Variables */
   :root {
    --bg-color: hsl(130, 20%, 80%);
    --calendar-bg-color: hsl(130, 20%, 100%);
    --shade-color: hsla(150, 50%, 20%, 0.1);
    --text-color: hsl(280, 30%, 20%);
    --headline-color: hsl(0, 0%, 100%);
    --rule-color: hsla(0, 0%, 50%, 0);
    --primary-color: hsl(150, 50%, 50%);
    --secondary-color: hsl(280, 50%, 50%);
  }
  
  /* ===========================
     Setup Mixins/Helper Classes */
  .clearfix:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
  }
  
  /* ==========
     Setup Page */
  *, *:before, *:after { box-sizing: border-box; }
  html { height: 100% }
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  /* ================
     Calendar Styling */
  .calendar {
    position: relative;
    margin: 3rem;
    overflow: hidden;
    max-width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background: var(--calendar-bg-color);
    box-shadow: 0.25rem 0.25rem 2rem var(--shade-color), -1rem -1rem 2rem var(--bg-color);
    
    // List styling
    ol { 
      list-style: none;
      margin: 0;
      padding:0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      li {
        width: calc(100% / 7);
        padding: 1rem;
        background: linear-gradient(-145deg, transparent, hsla(0, 0%, 0%,0.025));
      }
    }
  
    .days {
      flex-grow: 1;
    }
  
    .day-names {
      background: linear-gradient(70deg, var(--primary-color), var(--secondary-color));
      color: var(--headline-color);
      flex-shrink: 0;
      flex-grow: 0;
      text-transform: uppercase;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
      line-height: 1;
    }
  
    .date {
      margin-bottom: 0.25em;
      font-size: 0.875em;
      font-weight: bold;
    }
    .outside .date { opacity: 0.5 }
  
    .event {
      --dot-color: var(--primary-color);
      box-shadow: 0.25em 0.25em 1em 0 hsla(0, 0%, 0%,0.05) inset;
      font-size: 0.75rem;
      padding: 0 0.75em;
      line-height: 2em; 
      white-space: nowrap;
      overflow: hidden;
      border-radius: 1em;
      display: flex;
      align-items: center;
      &::before {
        content: '';
        width: 0.5em;
        height: 0.5em;
        margin-right: 0.5em;
        background: var(--dot-color);
        border-radius: 100%;
        flex-shrink: 0;
      }
      &.span-2 { width: calc(200% + 2rem); }
      &.begin { border-radius: 1em 0 0 1em;}
      &.end { border-radius: 0 1em 1em 0;}
      &.all-day { background: var(--shade-color); }
      &.clear { visibility: hidden; }
    }
   }