.graphsContainer{
    display:inline-flex;
}
.projectsOveriew{
    h2{
        color: rgba(57, 156, 196, 0.897);
        }
}
.graphsContainer{
    h2{
    color: rgba(57, 156, 196, 0.897);
    }
    
    display: flex;
    height: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 800px;
}
.taskstatus{
    height: min-content;
    min-width: 200px;
    width: 33%;
}
.projectstaskstatus{
    width: 33%;
    min-width: 200px;
    padding-left: 30px;
}
.TaskPerProject{
    width: 33%;
    min-width: 200px;
    padding-left: 30px;
}