.Nav{
    position: relative;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
    margin: auto;
    top: 50%;
    background-color: black;
}