.mydiv {
    background-image: url(https://i.pinimg.com/736x/0d/e5/09/0de5098fa5b9ba72a8b0b4c5e31b801f.jpg);
    background-repeat: no-repeat;
    align-content: center;
    justify-content: center;
    width: 100vw;
    .backbtn {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 6vw;

    }
    .inputDiv{
 flex: auto;
        // background-color: rgba(65, 61, 56, 0.26);
        background-image: url(https://i.pinimg.com/736x/0d/94/af/0d94af013ad5ea0311d40b78e76ce0e2.jpg);
        background-repeat: no-repeat;
        // background-size: 90%;
        margin: auto;
        padding: 10px;
        position: absolute;
        top: 70px;
        left: 35%;
        width: 30vw;
        height: 80vh;
        // border-style: double;
        justify-content: center;
       

        .mybox {
            position: absolute;
            // top: 150px;
            // left: 25%;
            width: 50%;
          }

          .mybox1 {
            position: absolute;
            top: 220px;
       
            width: 50%;
          }
    
        .txtfield {
            position: absolute;
          left: 10px;
            top: 80px;
            width: 50%;
            height: 7vh;
    
    
        }
        .agefield {
            position: absolute;
          left: 10px;
            top: 150px;
            width: 50%;
            height: 7vh;
    
    
        }
        .DateTimePicker{
            position: absolute;
            left: 25%;
            top: 400px;
            width: 10vw;

        }
        #meeting-time{
            position: absolute;
            left: 10px;
            top: 290px;
            width: 50%;

        }
        
    .regBtn {
        position: absolute;
        left: 40%;
        top: 480px;
        width: 5vw;
        font-size: small;

    }
    

    }

   
    .cal{
        position:absolute;
        left:200px;
        top:0px;
        width:10vw;
        .cal1{
            width:20vw;
        }
    }


    .caldiv {
        position: absolute;
        margin: 50px;
        left: 40%;
        // height: 50vh;
        // width: 50vw;
    }

    .aaa {
        position: relative;
        top: 350px;
        left: 70px;
    }

  

}