// div{
//     max-width: 90vw;
//     // display: grid;
//     // grid-template-columns:  auto auto auto auto auto auto  ;
//     display: grid;
//     grid-template-rows:  auto auto ;
//     grid-template-columns: repeat(3,auto);

.maindiv_card {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // flex: 1;
    max-width: 80vw;
    // display: grid;
    // grid-template-columns:  auto auto auto auto auto auto  ;
    display: grid;
    grid-template-rows:  auto auto ;
    grid-template-columns: repeat(4,auto);
 
    //width: 80%;
    // max-width: 100vw;
    height: 80vh;
    margin: auto;
    text-align: center;
    justify-content: center;

    //    h3{
         
    //    }


        // &__card {
        //     width: 100%;
        //     padding-top: 1rem;
        //     // display: grid;
        //     // grid-template-columns: repeat(6, 1fr);
        //     align-items: center;
        // }


    
}


// }

@media only screen and (max-width: 800px) {
.exploremain__popular__grid {
    grid-template-columns: repeat(1, 16rem);
    grid-template-rows: repeat(5, 1fr);
    display: flex;
    flex-direction: column;

}
}
