.container {
    text-align: center;
    background-color: rgb(77, 75, 241);
    margin: auto;
    padding: 10px;
    max-width: 400px;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);

    img {
        border-radius: 50%;
    }

    ;

    h1 {
        color: white;
    }

    h2 {
        color: rgb(202, 171, 202);
    }

    a {
        img {
            width: 40px;
            height: 40px;
        }
    }

    span {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: red;
    }
}

body {
    background-color: rgb(119, 119, 228);
}