
.signup{
    background-image: url(https://i.pinimg.com/736x/6b/52/7c/6b527c4762f95b65fff4e6e42cd06b44.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: small;
    margin-top: 20px;
    justify-content: center;
    border-style: double;
    border-width: 10px;
    width: 30vw;
    height: 80vh;
    border-color: black;
    position: relative;
    left: 500px;
    color: white;
    // background-color: rgb(149, 127, 155);

    .avatar{
        position: relative;
        top: 10px;
        left: 45%;
        background-color: 'secondary.main';
    }
    .typ{
        position: absolute;
        top: 2%;
        left: 40%;
    }
    
.signupform{
    position: relative;
    top: 60px;
    .textfield{
        width:20vw;
        height:8vh;
        position: relative;
        text-align: center;
    }
    .subbtn{
        position: relative;
        // bottom: -240px;
        // width: 20vw;
    }

}

  

    
}
