@import './commons.scss';
.SideBarMenuCardView {
    text-align: center;
    .profile {
        max-width: 128px;
        border-radius: 50%;
        padding: 10px;
        box-sizing: border-box;
    }
    .profileInfo {
        overflow: hidden;
        height: 80px;
        @include transition(height);
        &.collapsed {
            opacity: 0;
            height: 0;
        }
        .name {
            font-size: 20px;
            font-weight: bold;
        }
        .url {
            a {
                color: rgb(84, 163, 236);
            }
            &:hover {
                color: white;
            }
        }
    }
}