@import './commons.scss';
.SideBarMenuItemView {
    text-align: left;
    display: flex;
    align-items: center;
    margin: 0 5px;
    a {
        text-decoration: none;
        color: white;
        display: block;
        width: 100%;
        border-radius: 5px;
        .ItemContent {
            display: flex;
            padding: 10px;
            left: 0;
            flex-direction: row;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            @include transition(width);
            &.collapsed {
                width: 35px;
            }
            .icon {
                width: 32px;
                height: 32px;
            }
            .label {
                font-weight: 500;
                margin-left: 10px;
                overflow: hidden;
            }
        }
        &:hover {
            background-color: rgb(95, 95, 238);
            color: white;
        }
        &:hover {
            &+.toolbox {
                display: inline-block;
                animation-duration: 0.4s;
                animation-name: toolbox;
            }
        }
    }
    .toolbox {
        position: absolute;
        background-color: black;
        left: 70px;
        padding: 10px;
        border-radius: 5px;
        text-transform: capitalize;
        display: none;
    }
}

@keyframes toolbox {
    from {
        opacity: 0
    }
    ;
    to {
        opacity: 1
    }
    ;
}