// body{
//     background-color: aqua;
// }
.signup{
    font-size: small;
    margin-top: 20px;
    justify-content: center;
    border-style: double;
    border-width: 10px;
    width: 30vw;
    height: 70vh;
    border-color: black;
    position: relative;
    left: 500px;
    // background-color: rgb(149, 127, 155);

    .avatar{
        position: relative;
        top: 10px;
        left: 45%;
        background-color: 'secondary.main';
 
    }
    
.signupform{
    // display:flex;
    // flex-direction: column;
    // position: relative;
    // left: 650px;
    .textfield{
        width:20vw;
        height:10vh;
        position: relative;
        text-align: center;
        // left: 20px;
    }

}

  

    
}
