.mainTemplate{

    .mainHeader{

        img{
            width: 20%;
            opacity: 0.5;
        }
    }

    .mainContent{
        .next{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }
}

@media only screen and (max-width: 600px){
    .mainTemplate{

        .mainContent{

        }
    }
}