.wrapper {
    display: flex;
    width: 70%;
    height: 100%;
    //background-color: blue;

    .leftcol {
        display: flex;
        flex-direction: column;

        .leftTitle {
            max-width: 400px;
            background-color: rgb(233, 24, 2);
            height: 30px;
            text-align: center;

            h1 {
                font-size: 80%;
                color: white;
            }

        }

        a {
            text-decoration: none !important;
            color: inherit;

            &:hover {
                text-decoration: none !important;
                color: inherit;
            }

            &:focus {
                text-decoration: none !important;
                color: inherit;
            }

            &:active {
                text-decoration: none !important;
                color: inherit;
            }
        }

        .cast {
            //background-color: #363636;
            background-color: white;
            width: 300px;
            height: 100px;
            display: flex;
            align-items: center;

            &:hover {
                opacity: 80%;
                background-color: whitesmoke;
            }



            img {
                border-radius: 50%;
                margin-left: 15px;
            }

            .text {
                display: flex;
                flex-direction: column;
                margin-left: 10px;

                h1 {
                    font-size: 80%;
                    font-family: Roboto, Helvetica, Arial, sans-serif;
                    margin-bottom: 0px;
                }

                h2 {
                    font-size: 80%;
                    margin-top: 0px;
                    opacity: 70%;
                }
            }
        }
    }

    .rightcol {
        display: flex;
        flex-direction: column;
        width: 100%;
        //background-color: rgb(233, 24, 2);

        iframe {
            width: 100%;
            height: 100%;
        }

        .news {
            display: flex;
            flex-direction: row;

            a {
                width: 100%;
                height: 100%;
            }

            .item {
                height: 100%;
                width: 100%;
                position: relative;
                text-align: left;
                color: white;

                &:hover {
                    opacity: 90%;
                }

                img {
                    width: 100%;
                    height: 100%;
                }

                .textNews {
                    margin-left: 10px;
                    background-color: rgba(139, 139, 139, 0.575);
                    position: absolute;
                    bottom: 0px;
                    box-shadow: white;
                }
            }
        }
    }
}