.wrapper {

    margin: 4px, 4px;
    padding: 4px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 60px;
    text-align: justify;
    width: 100%;

    .text {
        padding: 10px;
        color: #7572FC;
        font-family: Monospace;
        font-size: 20px;
        font-weight: 550;

    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .catg {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 2px solid gray;
            background-color: white;
            border-radius: 20px;
            margin: 10px;

            .grid-container {
                display: grid;
                grid-template-columns: auto auto auto;
                padding: 10px;
                row-gap: 5px;
                column-gap: 5px;

                .grid-item {
                    border: 1px solid gray;
                    background-color: white;
                    padding: 10px;
                    font-size: 30px;
                    text-align: center;
                    border-radius: 13pX;

                    &:hover {
                        border: 2px solid rgb(0, 217, 255);

                    }
                }

                //---------------------------------------
                ul {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    border-radius: 10px;
                    padding: 20px;
                    width: 240px;
                    background: #ebf5fc;
                    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
                        3px 3px 5px rgba(0, 0, 0, 0.1);


                    & li {
                        position: relative;
                        list-style: none;
                        text-align: center;
                        margin: 15px;

                        & label {
                            position: relative;
                            cursor: pointer;

                            & input[type="checkbox"] {
                                position: absolute;
                                opacity: 0;
                            }

                            & :checked~.icon-box {
                                box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
                                    inset 3px 3px 5px rgba(0, 0, 0, 0.1);

                                & .fa {
                                    transform: scale(0.95);
                                }
                            }

                            & .icon-box {
                                width: 60px;
                                height: 60px;
                                background: #ebf5fc;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
                                    3px 3px 5px rgba(0, 0, 0, 0.1);
                                border-radius: 10px;

                                & .fa {
                                    font-size: 30px;
                                    color: #6a9bd8;
                                }

                            }
                        }
                    }
                }



            }
        }

        .Proceedbtn {
            color: white;
            font-family: Poppins;
            font-style: normal;
            text-align: center;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            background-color: #FF8074;
            border: #FF8074;
            border-radius: 16px;
            height: 47.75px;
            width: 124px;

            &:hover {
                background-color: #fa6f63;

            }
        }


    }
}


input {
    height: 38px;
    width: 100%;
    border-radius: 9px;

}