.wrapper{
    background-color: rgba(73, 48, 24, 1);
    width:100vw;
    height:100vh;
    color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   form{
       width: 100%;
       margin: 10px;
   }
    img{
      
        width:15%;
        border-radius: 100%;
       
    }
    
    
}
