.wrapper{
    background-color: rgba(73, 48, 24, 1);
    width:100%;
    height:auto;
    color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
    img{
      
        width:20%;
        border-radius: 100%;
       
    }
}