.closet{
    text-align: center;
  width: 100%;
  height: auto;
    &_header{
        display: flex;
        flex-direction: row;
        align-items: center;
        //  justify-content: space-between;
        height: 20%;
        width: 100%;
        background-color: white;
        box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.514);
       
      &_logo{
        height:10%;
        width: 10%;
        border-radius: 100%;
        margin: 20px;
       
      }
     
     
  
     &_cart{
    
      img{
      width: 15%;
      border-radius: 100%;
      }
      img:hover{
        transform: scale(1.2);
        z-index: 1;
        opacity: 0.9;
        cursor: pointer;
        box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.514);
    }
      
      
     }
     
      h1{
        color: rgba(73, 48, 24, 1);
         font-style: italic;
         font-size: 2rem;
         margin: 20px;
         display: flex;
         align-items: center;
         justify-content: center;
    
      }
    }
}