label {
    border: solid 2px grey;
    //width: 50px;
    //height: 50px;
    margin-top: 10px;
    text-align: center;
    line-height: 40px;
    background-size: contain;
    border-radius: 13pX;


}

input[type=checkbox] {
    display: none;

}

// input:checked+label:before {
//    // content: "applied ";
// }

input:checked+label {
    border: solid 2px rgb(1, 173, 204);


}
.leisure {
    background-image: url('../../../icons/Vector.png');

}

.business {
    background-image: url('../../../icons/Vector-2.png');


}

.roadTrip {
    background-image: url('../../../icons/Vector-4.png');
}

.family {
    background-image: url('../../../icons/Vector-1.png');
}

.study {
    background-image: url('../../../icons/Vector-5.png');
}

.grieving {
    background-image: url('../../../icons/Vector-6.png');
}

//--------------------------
.trolly {
    background-image: url('../../../icons/Stroke.png');
}

.suitcase {
    background-image: url('../../../icons/Vector-7.png');
}

.briefcase {
    background-image: url('../../../icons/Vector-3.png');
}

.backpack {
    background-image: url('../../../icons/Vector-8.png');
}

.handbag {
    background-image: url('../../../icons/Vector-9.png');
}

.multy {
    background-image: url('../../../icons/Vector-10.png');
}

//inputinfo2
.Plane {
    background-image: url('../../../icons/Property 1=OFF Plane+icon.png');
}

.Bus {
    background-image: url('../../../icons/Property 1=OFF Bus+icon.png');
}

.Car {
    background-image: url('../../../icons/Property 1=OFF Car+icon.png');
}

.Ship {
    background-image: url('../../../icons/Property 1=OFF Ship+icon.png');
}

.Metro {
    background-image: url('../../../icons/Property 1=ON Metro+icon.png');
}

.Taxi {
    background-image: url('../../../icons/Property 1=OFF Taxi+icon.png');
}

//----------Activity
.Glof {
    background-image: url('../../../icons/Property 1=OFF Golf+icon.png');
}

.Club {
    background-image: url('../../../icons/Property 1=OFF Club+icon.png');
}

.Photography {
    background-image: url('../../../icons/Property 1=OFF Photography+icon.png');
}

.Swimming {
    background-image: url('../../../icons/Property 1=OFF Swimming+icon.png');
}

.Hiking {
    background-image: url('../../../icons/Property 1=OFF Hiking+icon.png');
}

.Biking {
    background-image: url('../../../icons/Property 1=OFF Biking+icon.png');
}

//accommodation
.Hotel {
    background-image: url('../../../icons/Property 1=OFF Hotel+icon.png');
}

.BNB {
    background-image: url('../../../icons/Property 1=OFF BB+icon.png');
}

.ShortTerm {
    background-image: url('../../../icons/Property 1=OFF Shorterm+icon.png');
}

.Van {
    background-image: url('../../../icons/Property 1=OFF Van+icon.png');
}

.Tent {
    background-image: url('../../../icons/Property 1=OFF Tent+icon.png');
}

.Sofa {
    background-image: url('../../../icons/Property 1=OFF Sofa+icon.png');
}

//Spicial
.Baby {
    background-image: url('../../../icons/Property 1=OFF Baby+icon.png');
}

.Toddlers {
    background-image: url('../../../icons/Property 1=OFF Toddlers+icon.png');
}

.Pets {
    background-image: url('../../../icons/Property 1=OFF Pets+icon.png');
}

.Med {
    background-image: url('../../../icons/Property 1=OFF Med+icon.png');
}

.Merchandise {
    background-image: url('../../../icons/Property 1=OFF Merchandise+icon.png');
}

.Valuable {
    background-image: url('../../../icons/Property 1=OFF Valuable+icon.png');
}

