.hi{
    display:flex;

    
   // width: 100%;
    //padding-left: 40vw;
    justify-content:center;
    align-items:center;
    
    //padding-right: 40vw;
     margin-top:5vh;
    // margin-left:2rem;
    // margin-right:4rem;
    margin:center;
    width:90fr;


}