.wrapper{
    max-width:800px;
    margin: auto;
    align-content: center;
    text-align: center;
  
    background-color: rgb(238, 233, 190);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.178);
}

body{
    /* background-color: rgb(238, 232, 240); */
}

.wrapper div {
    font-size: x-large;
    font-weight: bold;
}

.wrapper div p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.italic{
    font-style: italic;
    color: white;
}
.p1{
    text-align: center;
    font-size: large;
 

}

.im1{
    width: 300px;
    height: 400px;
}

.im2{
    height: 300px;
}