.wrapper{
    display:grid;
    // grid-column-gap: 50px;
    background-color: wheat;
    grid-template-columns: repeat(5, 1fr);
    // grid-template-columns:auto auto auto auto auto auto;
    // grid-template-columns: 100px 200px 400px 50px;
    grid-template-rows: repeat(10, 100px);
    row-gap: 20px;
    column-gap: 2px;

    grid-template-columns: auto 100px auto auto;
    grid-template-rows: repeat(10,100px);
    grid-column: auto;
    gap: 20px;

    .item{
        background-color: purple;
       color: white;
    }

    .green{
        background-color: green;
    }
} 