.card {
    // border: 2px black solid;
    margin: 15px;
    width: 200px;
    min-height: 180px;
    display: flex;
    // flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;

    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        // border: 1px red solid;
    }

    &:hover {
        transform: scale(1.1);
        background-color: rgba(0, 0, 0, 0.021);
    }
}