.course{
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(119, 74, 74, 0.678) ;
    max-width: 200px;
    height:20vh;
    width: 10vw;
    display: flex;
    flex-direction: column;
}