.calbtn{
    width: 8vw;
    height: 5vh;
    position: absolute;
    top:40%;
    left: 700px;

    // background-color: rgba(151, 144, 136, 0.705);
}

.courses{
    position: absolute;
    left: 40%;
    width: 200px;
    height: 200px;
    display: flex;
//     flex-direction: column;
}