.wrapper{
    background-image: url(img.jpg);
    font-size: 40px;
    color: white;
    position: relative;
    height: 200px;
    margin-top: 50px;
    margin-left: 30px;
}
.title{
<<<<<<< Updated upstream
    width: 1000px;
    position: absolute;
    bottom: 30px;
=======
    width:100%;
    color: rgb(0, 0, 0);
    position: absolute;
    left: 0;
    bottom: 0; 
    background-color: rgb(255, 255, 255,0.2);
>>>>>>> Stashed changes
}
.text{
    width: 1000px;
    position: relative;
    font-size: 20px;

    bottom: 0px;

}