.wrapper{
    display:flex;
    margin-top:10px ;
    background-color:white; 
    max-width: 100%;
    max-height: 100%; 

    .left{
        flex-direction: column;
        flex:30%;
        //flex-wrap: wrap;
        display: flex;

        .toprow{
            height: 3%;
            align-items: center;
            background-color: rgb(153, 13, 13);
            color: white;
            padding-left: 9px;
            display: flex;
            box-shadow: 2px 2px 6px black;
        }

        .sub{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 97%;    
            .box{
                display:flex;
                background-color:grey;
                width: 100%;
                height: 100px;
                align-items: center;
                margin-right: 0px;
                border-radius: 2px;
                box-shadow: 2px 2px 6px rgb(70, 64, 64);
                justify-content: space-evenly;
    
                .box-img{
                    display:flex;
                    justify-content:center;
                    flex:20%;
    
                    img{
                        width:80%;
                        height:80%;
                        border-radius: 50%;
                        align-self:center;
                        
                    }
    
                }
                .box-text{
                    flex:80%;
                    align-items:center;
                    display:flex;
                    justify-content:center;
                }
    
            }
            .box1{
                display:flex;
                background-color:rgb(58, 55, 55);
                width: 100%;
                height: 100px;
                align-items: center;
                //margin-right: 6px;
                border-radius: 2px;
                box-shadow: 2px 2px 6px rgb(70, 64, 64);
                justify-content: space-evenly;
                .box-img{
                    display:flex;
                    justify-content:center;
                    flex:20%;
                    
    
                    img{
                        width:80%;
                        height:80%;
                        border-radius: 50%;
                        align-self:center;
                    }
    
                }
                .box-text{
                    flex:80%;
                    align-items:center;
                    display:flex;
                    justify-content:center;
                }
    
            }
        }



    }
.right{
    display:flex;
    flex-direction: column;
    flex:70%;
    .up{  
        position: relative;
        box-shadow: 2px 2px 6px rgb(255, 255, 255);
        border-radius: 3px;
        img{
            width: 100%;
            height: 100%;
            border-radius: 0px;
        }
        .title{
            position: absolute;
            bottom: 20px;
            left:20px;
            font-size:60px;

        }

    }
    .down{
        display:flex;
        flex-wrap: wrap;
        .box-right{
            background-color:white;
            flex:33%;
            margin-left:1px;

            img{
                width: 100%;
                border-radius:3px;
                width:90%;
                height:80%;
            }
            .title{
                align-items: center;
                justify-content: center;
                font-weight: bold;
                color: rgb(17, 15, 15);
                display: flex;

            }

        }
        
    }
}

}