.wrapper{
    display:flex;
    margin-top:10px ;
    background-color:rgb(201, 199, 198);
    max-width: 100%;
    max-height: 100%;

    .left{
        flex-direction: column;
        flex:40%;
        //flex-wrap: wrap;
        display: flex;

        .box{
            display:flex;
            background-color:grey;
            width: 300px;
            height: 100px;
            .box-img{
                display:flex;
                justify-content:center;
                flex:20%;

                img{
                    width:80%;
                    height:80%;
                    border-radius: 50%;
                    align-self:center;
                }

            }
            .box-text{
                flex:80%;
                align-items:center;
                display:flex;
                justify-content:center;
            }

        }
        .box1{
            display:flex;
            background-color:rgb(58, 55, 55);
            width: 300px;
            height: 100px;
            .box-img{
                display:flex;
                justify-content:center;
                flex:20%;

                img{
                    width:80%;
                    height:80%;
                    border-radius: 50%;
                    align-self:center;
                }

            }
            .box-text{
                flex:80%;
                align-items:center;
                display:flex;
                justify-content:center;
            }

        }
    }
.right{
    display:flex;
    flex-direction: column;
    flex:60%;
    .up{
        position: relative;
        .title{
            position: absolute;
            bottom: 20px;
            left:20px;
            font-size:60px;

        }

    }
    .down{
        display:flex;
        flex-wrap: wrap;
        .box-right{
            background-color:white;
            flex:33%;
            margin-left:1px;

            img{
                width: 100%;
                border-radius:3px;
                width:90%;
                height:80%;
            }

        }
        
    }
}

}