.container {

    .body {
        // border: 1px red solid;
        margin: auto;
        margin-top: 40px;
        width: 50%;

        .instructions{
            margin-bottom: 20px;
        }

        .card{
            width: 90%;
            margin: auto;
            margin-bottom: 70px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__content{
                display: flex;
                align-content: center;

            }

            .actions{
                margin-top: 0px;
                margin-bottom: 20px;
                padding: 0px;
                // border: 1px blue solid;
            }
        }
    }


}