.navbar {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  grid-template-columns: repeat(1, 16rem);
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  width: 90vw;
  height: 10vh;
  //border-style: solid;
  //  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  //z-index: 0;


  &__box {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 100%;
  }

  &__left {
    display: flex;
    //height: 100%;
    width: 70%;
    margin-top:20px;
    height:9vh;
    argin: auto;

    .img{
      margin: auto;
      padding-top: 30px;
      margin-bottom: 1.5vh;
      width: 100px;
    }
    .categories {
      display: flex;
      //background-color: #e4dadac5;
      //border: none;
      //border-radius: 12px;
      //margin-right: 2vw;
      margin-top: 1.5vh;
      margin-bottom: 1.5vh;
      text-align: center;
      justify-content: center;
      color: rgb(250, 240, 240);
      font-size: 14px;
      padding: 12px 24px;
      white-space: nowrap;
      //font-family: Inter, Tajawal, sans-serif;
      font-weight: bold;

      img {
        display: flex;
        width: 20px;
        // height:7vh;
        align-content: center;
        justify-content: center;
        border-radius: 12px;
        margin-right: 2vw;
        margin-top: 1.5vh;
        margin-bottom: 1.5vh;
        //text-align: center;
      }
    }

    img {
      display: flex;
      align-content: center;
      justify-content: center;
      border-radius: 12px;
      margin-right: 2vw;
      margin-top: 1.5vh;
      margin-bottom: 1.5vh;
      text-align: center;
    }
  }

  img {
    // height: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 12px;
    margin-right: 2vw;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    text-align: center;
    //margin-top: 0px;
    width: auto;
    max-height: 70%;
    max-width: 100%;
    align-items: flex-start;
    align-items: center;
    //  margin-top: 3vh;
    overflow: hidden;
    transform: scale(2);
    margin-right: 3vw;
    border-radius: 12px;
    //margin-top: 1vh;
    // padding: 12px 24px;
    //margin: auto;
  }
  menuItem {
    display: flex;
    font-family:fantasy;
     box-shadow: #000804;
     border-radius: 50px;

     
     p{
        padding-top: 1.5vh;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     }
     
    
    
  }

  a {
    color: black;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
    font-size: 15px;
    font-family: Inter;

    &:hover {
      //background-color: #2a945b;
      font-size: 20px;
      color: #2a945b;
    }
  }
  /*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

  // body
  // {
  //   margin: 0;
  //   padding: 0;

  //   /* make it look decent enough */
  //   background: #232323;
  //   color: #cdcdcd;
  //   font-family: "Avenir Next", "Avenir", sans-serif;
  // }

  &__right {
    display: flex;
    //height: 100%;
    width: 30%;
    padding-left: 10%;
    justify-content: flex-start;

    &__signin {
      background-color: #000804;
      background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn.icon-icons.com%2Ficons2%2F1875%2FPNG%2F512%2Fshoppingbag_120393.png&imgrefurl=https%3A%2F%2Ficon-icons.com%2Ficon%2Fshopping-bag%2F120393&tbnid=x0zRteiJeLKHwM&vet=12ahUKEwjJxfC4wbb2AhWNtSoKHSYFBEcQMygWegUIARD3AQ..i&docid=nMQvCLE6MjExxM&w=512&h=512&q=shopping%20bag%20icon&ved=2ahUKEwjJxfC4wbb2AhWNtSoKHSYFBEcQMygWegUIARD3AQ");
      border: none;
      border-radius: 12px;
      margin-top: 35px;
      margin-bottom: 40px;
      height: 40px;
      padding: 12px 24px;
      text-align: center;
      color: white;
      font-size: 14px;
      white-space: nowrap;
      font-weight: bold;
    }

    &__signup {
     background-color: #141414;
     background: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn.icon-icons.com%2Ficons2%2F1875%2FPNG%2F512%2Fshoppingbag_120393.png&imgrefurl=https%3A%2F%2Ficon-icons.com%2Ficon%2Fshopping-bag%2F120393&tbnid=x0zRteiJeLKHwM&vet=12ahUKEwjJxfC4wbb2AhWNtSoKHSYFBEcQMygWegUIARD3AQ..i&docid=nMQvCLE6MjExxM&w=512&h=512&q=shopping%20bag%20icon&ved=2ahUKEwjJxfC4wbb2AhWNtSoKHSYFBEcQMygWegUIARD3AQ") ;
      border: none;
      border-radius: 12px;
      padding-top: 0.5em;
      margin-right: 2vw;
      margin-top: 1.5vh;
      margin-bottom: 1.5vh;
      text-align: center;
      color: rgb(255, 251, 251);
      font-size: 14px;
      padding: 12px 24px;
      white-space: nowrap;
      //font-family: Inter, Tajawal, sans-serif;
      font-weight: bold;
    }

    a {
      margin-top: 100px;
      //margin-bottom: 40px;
      height: 40px;
      color: black;
      text-align: center;
      padding: 20px 24px;
      text-decoration: none;
      font-size: 15px;
      font-family: Inter;
      margin: auto;

      img{
        
        margin: auto;
        // padding-top: -20;
        // border: 0;
        // margin-top: 0px;
      }

      &:hover {
        //background-color: #2a945b;
        font-size: 20px;
        color: #2a945b;
      }
    }
  }
}
