.mainheader{
    position: relative;
    display: flex;
    // flex-wrap: wrap;
    // // justify-content: center;
    // align-items: center;
    gap: 180px;
    width: 100vw;
    height: 4rem;
    border-style: solid;
    background-color: #3635347c;

    &__left {
        position: absolute;
        left: 0%;
        display: flex;
        width: 50%;
        height: 3rem;
        justify-content: left;

        a {
            color: black;
            text-align: center;
            padding: 20px 24px;
            font-size: 15px;
            font-family: Inter;
            height: 4rem;

            &:hover {
                //background-color: #2a945b;
                font-size: 20px;
                color: #3d362f;
            }
        }
    }

    &__right {
        position: absolute;
        right: 0%;
         width: 10%;
        height: 3rem;
        // justify-content: left;
        display: flex;
        margin-top: 10px;
  

        img{
            width: 30px;
            height: 30px;
            border-radius: 50px;
        }

        #basic-menu{
            width: 20vw;
            height: 10vh;

        }

    }


}


.menu{
  //  background-color: rgb(230, 208, 222);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    height: 7vh;
    justify-content: center;
    align-items: center;
    gap: 180px;

    &__left{
        display: flex;
        gap: 30px;
        width: 80%;
        height: 100%;
        margin-left: 10px;
        margin-top: 20px;

   
        img{
            margin-top: 20px;
            width: 3%;
            height: 70%;
        }
    }


}

#basic-menu{
    width: 10vw;
    height: 20vh;

}
