.wrapper{
    display: grid;
    //background-color: wheat;
    grid-template-columns: 400px  400px;
    grid-template-rows: 500px 500px;
    gap: 10px;


    .item{
        background-color: rgb(207, 57, 150);
        display: grid;
        //background-color: wheat;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 5px;
       
        .child{
             margin: 5px;
            background-color: rgb(44, 18, 59);
           
        }
        div img{
            width: 400px;
            height: 100px;
        }
        div.title{
            width: 100%;
            height: 100px;


        }
    }

}