.mainTemplate {

    .addImage {
        display: flex;
        justify-content: center;
        align-items: center;

        .toDo {
            width: 20%;
            opacity: 0.5;
        }

        .custom-file-upload {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 6px 12px;
            height: 100%;
            cursor: pointer;

            input[type="file"] {
                display: none;
            }
        }
    }

    .mainContent {
        .next {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-top: 20px;
        }


        .fewWords {
            height: 100px;
        }

    }
}

@media only screen and (max-width: 700px) {
    .mainTemplate {

        .mainContent {}
    }
}