
.wrapper {
    img {
        width: 306px;
      }

    position: absolute;
    width: 307px;
    height: 443px;
    left: 26px;
    top: 62px;


position: absolute;
width: 306px;
height: 55px;
left: 9px;
top: 237px;
}