.wrapper{
    display: grid;
    background-color: burlywood;
    grid-template-rows: repeat(2, 300px);
    gap: 20px;
    width: 800px;
    margin: auto;

    .row{
        .item{
            background-color: crimson;
        }
    }

    .top{
        display: grid;
        grid-template-columns: repeat(4, auto);
        column-gap: 20px;
    }

    .bottom{
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 20px;
    }

}