.wrapper{
    margin: auto;
    max-width: 75ch;
    border:5px dashed black;
    // position: relative;


    .relative{
        width: 600px;
        height: 400px;
        position: relative;

     
    }


    div{
        color: white;
        position: relative;
        bottom: 100px;
        left: 20px;
       
        
    }
    .div1
    {
        font-size: x-large;
    }
    .div2{
        font-size: large;
    }


}