.wrapper{
    margin: auto;
    max-width: 75ch;
    border:5px dashed black;
    position: relative;


    .relative{
        width: 100%;
        position: relative;

     
    }


    div{
    background-color: rgba(173, 216, 230, 0.308);
        color: white;
      
       
        
    }
    .div1
    {
        position: absolute;
        bottom: 100px;
        left: 20px;
        font-size: x-large;
    }
    .div2{
        position: absolute;
        bottom: 50px;
        left: 20px;
        font-size: large;
    }


}