.treatment{
    //background-color: rgba(23, 87, 31, 0.856);
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
    h1{
        margin-bottom: 20px;
    }
    img{
        width: 30rem;
        height: 20rem;
    }
    p{
        max-width: 27rem; 
        font-size: 19px;
        font-weight:bolder;
    }
    .button{
        color: rgb(10, 88, 49);
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
        left: 8rem;
    }
    a{
        text-decoration: none;
    }  
}
