

    .card{
        max-width: 20vw;
        max-block-size: 2fr;
        background-color: blue;
        border-radius: 1rem;
        margin: 5px;
        img {
            width: 100%;
        border-radius: 1rem;
    }
        
    }


  