.coursesAndRecentUpdates{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;

    .divider{
        height: 100%;
    }

    &__left{
        width: 60%;
        
        .courses{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
        }
    }

    &__right{
        width: 23%;
        max-height: 400px;
        overflow-y: scroll;
        border: 1.5px rgba(0,0,0,0.12) solid;

        .title{
            background-color: rgba(0, 0, 0, 0.12);
        }
    }
}