// // body{
// //     width: 500px;
// //     height: 500px;
// // }
// .clenderdiv{
 
//     width: 500px;
//     height: 500px;


// }

.caldiv{
    position: absolute;
    margin: 50px;
    left: 40%;
    // height: 50vh;
    // width: 50vw;
}

.aaa{
    position: relative;
    top: 350px;
    left: 70px;
}
.backbtn{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 5vw;

}