// // body{
// //     width: 500px;
// //     height: 500px;
// // }
// .clenderdiv{
 
//     width: 500px;
//     height: 500px;


// }

.caldiv{
    position: absolute;
    margin: 50px;
    left: 40%;
    // height: 50vh;
    // width: 50vw;
}

.aaa{
    position: relative;
    top: 350px;
    left: 70px;
}
.backbtn{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 5vw;

}

.mybox{
    position:absolute;
    top:150px;
    left: 60px;

}

.txtfield{
    position:absolute;
    left:-150px ;
    top:210px;
    width:20vw;


}

.regBtn{
    position:absolute;
    top: 500px;
}