.telAviv{
    background-color: rgb(54, 53, 53);
    color:aquamarine;
    height:100vh;
    button{
        background-color: rgb(7, 70, 95);
        border-radius: 20px;
        margin-top: 5px;
        border: 0px;
    }
   
}