.GreetingsTheme{
    background-color: #7065F2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    .imgGreeting{
        width: 100%;
        height: 30vh;
    }

    .userGreeting{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        label{
            color: #FFD064;
            font-weight: bold;
            font-size: 3rem;
        }

        p{
            color: white;
            font-weight: 400;
            font-size: 1.5rem;
        }

        .letsStart{
            margin-top: 10px;
            width: 40vw;
            border-radius: 30px;
            padding: 4px;
            height: 50px;
            background-color: white;
            border: 1px solid #D3D3D3;
            box-sizing: border-box;
            border-radius: 4px;
            border-radius: 30px;
            color: #7065F2;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
}