.LogInBox {
    margin-top: 40px;
    border: 5px solid rgb(181, 115, 157);
    margin: auto;
    margin-top: 70px;
    color: rgb(181, 115, 157);
    font-style: italic;
    width: 30vw;
    height: 70vh;
    text-align: center;

    .wrapper {
        margin-top: 30px;

        input {
            background-color: rgb(230, 208, 222);
            color: rgb(181, 115, 157);
            height: 20px;
            width: 250px;
            border-radius: 10px;
            border: solid;
        }

        h1 {
            font-size: 2.5rem;
        }

        span {
            font-weight: bold;
        }

        .Button {
            margin: auto;
            text-align: center;
            justify-content: center;
            border: 2px solid rgb(181, 115, 157);
            background-color: rgb(230, 208, 222);
            border-radius: 10px;
            width: 80px;
            height: 20px;
        }

        p {
            font-size: 1.2rem;
            text-align: center;
        }
    }
}