.tablediv{
    justify-content: center;
    position: relative;
    left: 35%;
    width: 30vw;
    border-style: double;

    .backbtn{
        position: relative;
    }


    .table{
        width: 30vw;
    }


    .editaddbtn{
        width: 7vw;
    }
    .grpbtn{
        width: 10vw;
    }
}
