.center {
    display: flex;
    flex-direction: column;
    width : 100%;
    align-items: center;
    justify-content: right;
    gap:15px;
}

.underTilte{
    font-size: 40px;
    font-weight: bold;
}

.span{
    color: red
}