.informations{
    font-size: 1.2rem;
    color: orchid;
    font-style: italic;
}

h1{
    color: darkmagenta ;
}

.youtube{
    font-style: italic;
    color: red;
}
.p1{
    font: bold;
    color: red;
}