.newStudentPageContent {
    // border: 1px red solid;
    margin: auto;
    margin-top: 40px;
    width: 50%;

    .instructions {
        margin-bottom: 20px;
    }

    .newStudentCard {
        width: 90%;
        margin: auto;
        margin-bottom: 5vh;
        // margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &__content {
            display: flex;
            align-content: center;

        }

        .submitBtn {
            // margin-top: 1vh;
            margin-bottom: 1vh;
            padding: 0px;
            // justify-self: center;
            // border: 1px blue solid;
        }
    }

    
}