.card_details{
    position: relative;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
    margin: 3rem;
    img {
        position: relative;
        width:40vh;
        height:60vh;
        border-radius: 1rem;
    }
    p {
        position: absolute;
        bottom: 0;
        color: white;
        text-align: center;
    }

    input{
        position: absolute;
        bottom: 0;
    }
    h1 {
        position:absolute;
        top: 0;
        color: black;
    }

}