.recipes {
    display: grid;
    width: 80vw;
    grid-template-rows: repeat(auto-fill, 100px);
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    align-items: center;
    font-size: 1.2rem;
    font-style: italic;
    row-gap: 30px;
    column-gap: 10px;

    .title1{
        padding-left: 12px;
        grid-column: 1 / 3;
    }

    .add{
        justify-self: end;
        grid-column: 3 / 4;
        padding-right: 7px;
        margin-bottom: 7px;

        &:hover{
            transform: scale(1.1);
        }
    }

    .item{
        border: 1px solid white;
        background-color: #e6d0de;
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: auto;
        
        .itemImg {
            width: 100%;
            height: 80%;

            img {
                width: 100%;
                height: 100%;
            }
        }
        .title {
            text-align: center;
            font-weight: bold;
        }
        &:hover{
            transform: scale(1.1);
            opacity: 0.5;
        }
    }
}