.studentExamsPageContent {
    margin-top: 5vh;

    .calendar {
        margin-left: 100px;
        margin-top: 50px;
    }

    .examsTable {
        width: 60%;
        margin: auto;
        margin-top: 20px;
    }

}