body {
	background-color: rgb(165, 127, 133);
}
h1 {
	color: purple;
}
p {
	color: black;
	font-size: 20px;
}
.wrapper {
	width: 450px;
	height: 550px;
	top: 50%;
	left: 50%;
	background-color: rgb(182, 150, 155);
	padding: 200px 50px;
	box-sizing: border-box;
	position: absolute;
	transform: translate(-50%, -50%);
	text-align: center;
	.backgroundphoto {
		width: 450px;
		height: 150px;
		padding: 3px;
		position: absolute;
		transform: translate(-50%, -50%);
		top: 13%;
		left: 50%;
	}
	.photo {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
		top: 23%;
		left: 50%;
	}
}
