.wrapper {
  border: 2px dashed black;
  display: flex;
  // flex-direction: column;
  width: 100%;
  flex-wrap: wrap;

  .item {
   max-width: 200px;
   flex:1;
    height: 100px;
    background-color: yellowgreen;
    margin: 3px;
  }

//   .double {
//     flex: 2;
//   }
}
