.wrapper{
    display: flex;
    border: 2px dashed black;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    height: 500px;
    margin-top: 1%;
    margin-left: 1%;

    .col1{
        height: 100%;
        width: 30%;
        display: flex;
        flex-wrap: wrap;

        .row{
            height: 11%;
            width: 100%;
            background-color: black;
            color: rgb(184, 184, 184);
            margin: 1px;
        }
        .title{
            height: 5%;
            width: 100%;
            background-color: red;
            color: white;
            font-weight: bold;
            text-align: center;
            justify-content: center;
            margin: 1px;
        }
    }

    .col2{
        height: 100%;
        width: 70%;
        display: flex;
        flex-wrap: wrap;

        .row1{
            height: 50%;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            img{
                height: 100%;
                width: 100%;
            }
            p{
                position: absolute;
                top: -30px;
                left:0px;
                color: white;
                font-weight: bold;
                font-size: 3rem;
            }
        }

        .row2{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 25%;
            width: 100%;

            .images{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 33%;
                height: 100%;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                }
                p{
                    position: absolute;
                    top: 0px;
                    left: 10px;
                    color: white;
                    font-weight: bold;
                }
            }
        }

    }
}