body{
  background-color: #7065F2;
  // font-family: Nunito;
  font-weight: bold;
  font-style: normal;
  font-size: 23px;
  line-height: 31px;
}
.App {
  text-align: center;
  background-color: white;
  color: #7065F2;
}