.mainTemplate{



    .HomePage{
        display: flex;
        flex-direction: column;
        height: 10vh;
        .homeDiv{
            width: 70%;
            display: flex;
            justify-content: space-between;
            margin-top: 30px;

            .homeLogo{
                img{
                    width: 40px;
                }
            }

            .settingsLogo{
                img{
                    width: 40px;
                }
            }
        }
    }
    .mainContent{
        
        .homeHeader{
            display: flex;
            flex-direction: column;
            width: 85vw;
            
            .userName{
                text-align: left;
            }

            #header{
                opacity: 0.6;
            }
            
            .upcoming{
                text-align: left;
                margin-top: 20px;
            }
            .previous{
                text-align: left;
                margin-top: 20px;
            }
        }
        
    }
}
@media only screen and (max-width: 700px){
    .mainTemplate{
        .withHome{
           
            .homeDiv{
               
            }
            .listLogo{
                
            }
        }
        .mainContent{
            
           .listHeader{
               width: 85vw;
           }
        }
    }
}


.addListButton{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    bottom: 5vh;
    z-index: 1;

    button{
        border-radius: 50%;
        background-color: #7065F2;
        color: white;
        width: 100px;
        height: 100px;
        font-size: 50px;
        text-align: center;
        border: 0px;
        box-sizing: border-box;
        box-shadow: 5px 5px 5px rgba(37, 36, 36, 0.342);
    }
}