.mainTemplate{
    .HomePage{
        display: flex;
        flex-direction: column;
        height: 10vh;
        .homeDiv{
            width: 70%;
            display: flex;
            justify-content: space-between;
            margin-top: 30px;

            .homeLogo{
                img{
                    width: 40px;
                }
            }

            .settingsLogo{
                img{
                    width: 40px;
                }
            }
        }
    }
    .mainContent{
        
        .homeHeader{
            display: flex;
            flex-direction: column;
            width: 85vw;
            
            .userName{
                text-align: left;
            }

            #header{
                opacity: 0.6;
            }
            
            .upcoming{
                text-align: left;
                margin-top: 20px;
            }
            .previous{
                text-align: left;
                margin-top: 20px;
            }
        }
        
    }
}
@media only screen and (max-width: 700px){
    .mainTemplate{
        .withHome{
           
            .homeDiv{
               
            }
            .listLogo{
                
            }
        }
        .mainContent{
            
           .listHeader{
               width: 85vw;
           }
        }
    }
}