.classesPageContent {
    // margin-top: 100px;
    // border: 0.5px black solid;
    display: flex;
    flex-direction: column;
    align-content: center;

    .newclassBtn {
        position: absolute;
        right: 8vw;
        // border: 1px red solid;
        margin-top: 6vh;
    }

    .classesContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        margin: auto;
        margin-top: 15vh;
        // bor  der: 1px red solid;
    }
}