.container {
    .subContainer {
        // margin-top: 100px;
        // border: 0.5px black solid;
        display: flex;
        flex-direction: column;

        .newclassBtn {
            position: fixed;
            right: 60px;
            margin-top: 30px;
            // margin-bottom: 10px;
        }

        .classesContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 80%;
            margin: auto;
            margin-top: 10vh;
            // bor  der: 1px red solid;
        }
    }

}