.showRaw{
    background-color: antiquewhite;
    color:black;
    width: 50%;
    height: auto;
    box-shadow: 8px 8px 10px rgba(73, 48, 24, 1);
    padding: 10%;
    border-radius: 10px;
    overflow-y: scroll;
    
}