.restaurantCard {
    border: .0625rem solid #d8d9db;
    max-width: 13rem;

    &:hover {
        transform: translateY(-0.4rem);
        transition-duration: 0.6s;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }

    img {
        max-width: 13rem;

    }

    &__title {
        h3 {
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden !important;
            white-space: nowrap;
            width: 13rem;
            opacity: 0.9;
        }
    }


    &__booking {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;



        img {
            box-sizing: border-box;
            max-width: 1.5rem;
        }

        &__title {
            font-size: 0.875rem;
            font-weight: 550;
        }
    }

    &__reserve {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;

        &__btn {
            background-color: white;
            color: #2a945b;
            border: .0625rem solid #2a945b;
            font-size: 16px;
            padding: 0.25rem 1rem;
            z-index: 1;

            &:hover {
                background-color: rgb(0, 0, 0, .06);
            }
        }
    }
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;

}