.wrapper{
    margin: auto;
    max-width: 600px;
    align-self: center;

    .box1{
        align-items: center;
        position: relative;

        .box2{
            bottom: 200px;
            position: absolute;
            bottom: 5px;
            color: rgb(13, 28, 240);
            margin-left: 40px;
            font-weight: bold;
            font-size: x-large;
        }
    }

    
}



