.graphsContainer{
    display:inline-flex;
}
.graphsContainer{
    h2{
    color: rgba(57, 156, 196, 0.897);
    }
    margin-left: 30px;
}
.taskstatus{
    height: min-content;
}
.projectstaskstatus{
    padding-left: 30px;
}
.TaskPerProject{
    padding-left: 30px;
}