.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3.7rem;
    background-color: white;
    //border-style: solid;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;

    &__box {
        display: flex;
        width: 90%;
        height: 100%;

        justify-content: space-between;
    }

    &__bar {
        display: none;
    }

    &__left {
        display: flex;

        //height: 100%;
        &__logo {
            display: flex;


            img {
                height: auto;
                width: auto;
                max-height: 100%;
                max-width: 100%;
                overflow: hidden;
                transform: scale(2.0);
                animation: fadeIn 1s infinite alternate;

                @keyframes fadeIn {
                    from {
                        opacity: 0;
                        animation: spin;
                    }
                }

                @keyframes spin {
                    from {
                        transform: rotate(0deg);
                    }

                    to {
                        transform: rotate(360deg);
                    }
                }
            }
        }

        a {
            color: black;
            text-align: center;
            padding: 20px 24px;
            text-decoration: none;
            //font-size: 15px;
            font-family: Inter;


            &:hover {
                //background-color: #2a945b;
                font-size: 20px;
                color: #2a945b;
            }
        }

        &__disable {
            display: flex;

            span {
                color: black;
                cursor: default;
                text-align: center;
                padding: 20px 24px;
                opacity: 0.6;
            }
        }
    }

    &__right {
        display: flex;
        //height: 100%;

        &__signin {
            background-color: #2a945b;
            border-radius: 12px;
            margin-top: 0.6rem;
            margin-bottom: 0.6rem;
            padding: 12px 24px;
            text-align: center;
            color: white;
            font-size: 14px;
            white-space: nowrap;
            font-weight: bold;
            border: 1px solid #2a945b;
            transition-duration: 0.4s;

            &:hover {
                color: #2a945b;
                background-color: white;
                border: 1px solid #2a945b;

            }
        }

        &__signup {
            background-color: #dff2e4;
            border-radius: 12px;
            margin-right: 2vw;
            margin-top: 0.6rem;
            margin-bottom: 0.6rem;
            text-align: center;
            color: black;
            font-size: 14px;
            padding: 12px 24px;
            white-space: nowrap;
            //font-family: Inter, Tajawal, sans-serif;
            font-weight: bold;
            border: 1px solid #dff2e4;
            transition-duration: 0.4s;

            &:hover {
                color: #381753;
                background-color: white;
                border: 1px solid #381753;

            }
        }

        &__search {
            transform: scale(0.5);
        }

    }


}

.Modal {
    position: absolute;
    background: white;
    top: 5rem;
    left: 0rem;
    right: 0rem;

    &__header {

        &__closebtn {
            float: right;
            overflow: hidden;
            position: relative;
            border: none;
            padding: 0;
            width: 2em;
            height: 2em;
            border-radius: 50%;
            background: transparent;
            color: #1da1f2;
            font: inherit;
            text-indent: 100%;
            cursor: pointer;

            &:focus {
                outline: solid 0 transparent;
                box-shadow: 0 0 0 2px #8ed0f9
            }

            &:hover {
                background: rgba(29, 161, 142, .1)
            }

            &:before,
            &:after {
                position: absolute;
                top: 0%;
                left: calc(50% - .0625em);
                width: .125em;
                height: 70%;
                border-radius: .125em;
                transform: rotate(45deg);
                background: currentcolor;
                content: ''
            }

            &:after {
                transform: rotate(-45deg);
            }
        }
    }

    .searchDiv {
        background-image: none;

        &__title {
            color: black;
        }
    }

}

.signModal {
    margin: auto;
    margin-top: 5rem;
    width: 70%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;

    &__content {
        width: 100%;
        height: 30rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        &__left {
            background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/table-full-of-traditional-mexican-food-enchiladas-royalty-free-image-1628282971.jpg);
            height: 100%;
            width: 50%;
            background-size: cover;
            background-position: 50%;
        }

        &__leftUp {
            background-image: url(https://images.squarespace-cdn.com/content/v1/53b839afe4b07ea978436183/1608506169128-S6KYNEV61LEP5MS1UIH4/traditional-food-around-the-world-Travlinmad.jpg);
            height: 100%;
            width: 50%;
            background-size: cover;
            background-position: 50%;
        }

        &__right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            //padding: 1rem 2rem;
            width: 50%;

            &__title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                img {
                    border-radius: 50%;
                    color: white;
                    padding: 0.3rem;
                    background-color: #2a945b;
                }
            }

            &__middle {
                // width: 60%;

                form {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    overflow: hidden;
                }
            }


        }
    }
}

@media screen and (max-width: 800px) {
    .navbar {
        &__bar {
            display: flex;
            justify-content: center;
            align-items: center;

        }

        &__left {
            width: 100%;

            a {
                display: none;
            }

            span {
                display: none;
            }

            &__logo {
                width: 100%;
                justify-content: center;
                max-width: 100%;

            }
        }

        &__right {
            &__signin {
                display: none;

            }

            &__signup {
                display: none;
            }
        }
    }

    .signModal {
        &__content {
            &__left {
                display: none;
            }

            &__leftUp {
                display: none;
            }

            &__right {
                width: 100%;
            }

            &__rightUp {
                width: 100%;
            }
        }
    }
}