.calendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button{
        margin-left: 10px;

    }
    button:hover{
       background-color: rgba(12, 12, 116, 0.377);
    }
    
    .table{
        height: 600px;
        width:70%;
        margin: 50px; 
    }
}