.flex-container{
    display: flex;
    width: 80%;
    border: black 2px solid;
    justify-content: space-around;
    align-items: center;

    .sub-container1{
        height: 200px;
        width: 200px;
        margin: 10px;
        box-shadow: 2px 2px 6px rgb(194, 35, 35);
        justify-content: center;
        align-items: center;

        .title{
            font-size: medium;
            font-style: italic;
            font-weight: bold;
            margin-left: 5px;
            margin-bottom: 5px;
            margin-top: 2px;
        }

        .sub-container2{
            display: flex;
            flex-wrap: wrap;
            justify-content:center;
            align-items: center;

            .item{
                height: 70px;
                width: 70px;
                box-shadow: 2px 2px 6px black;
                margin: 2px;
            }
        }

        .item{
            display: flex;
            justify-content: center;
            align-content: center;
            
            .img1{
                width: 150px;
                height: 150px; 
            }
        }

        .more{
            font-size: small;
            margin-left: 5px;
            margin-top: 5px;
        }
    }
}