.subContainer {
    margin-top: 20vh;

    .title {
        margin-top: 20px;
    }

    .buttons{
        // border: 1px red solid;
        width: 40%;
        display: flex;
        justify-content: space-evenly;
        margin-left: 10vw;
        margin-top: 20px;
    }

    .course {
        display: flex;
        justify-content: space-evenly;
        margin: auto;
        margin-top: 30px;

        .divider {
            height: 100%;
        }

        &__material {
            // border: 1px red solid;
            width: 65%;
            // padding: 30PX;
        }

        &__recentUpdates {
            border: 1.5px rgba(0, 0, 0, 0.12) solid;
            width: 23%;
            max-height: 400px;
            overflow-y: scroll;

            // padding: 20px;

            .title {
                background-color: rgba(0, 0, 0, 0.12);
            }
        }
    }
}