.AccidentCompContainer {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    border-radius: 0px;
    align-content: center;
    width: 80%;
    padding: 20px;
    margin: 20px;
    margin-left: 110px;
    background-color: rgba(113, 168, 184, 0.61);

    .type {

    }

    .date {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 55%;
        height: 100%;
        padding: 5px;

        .targetName {
            font-weight: bolder;
            font-size: larger;
        }

        .accidentDetails_details {
            font-weight: 400;
        }
    }

    .address {

    }
}