.mainTemplate{
   
    .listForm{
        height: 10vh;
    }

    .mainContent{
        
        .marginTitleNormal{
            margin-top: 50px;
        }

        .listForm{
            .rowList{
                span{
                    color: black;
                }
            }
        }
    }
}

@media only screen and (max-width: 700px){
    .mainTemplate{
        
        .mainContent{
           
        }
    }
}