.menu{
    width: 100vw;
    height: 10vh;
    background-color: darkblue;
}
.SearchBar{
    text-align: center
}
.searchBtn{
margin-left: 7px;
background-color: rgb(221, 183, 221);
border-radius: 10px;
}