.wrapper{
    display: grid;
    background-color: wheat;
    grid-template-columns: auto 50px auto 100px;
    grid-template-rows: repeat(10, 100px);
    gap: 5px;

    .item{
        display: grid;
        background-color: rgba(128, 0, 128, 0.205);
        gap: 5px;
        &:hover{
            box-shadow: 2x 2px 6px rgba(97, 8, 8, 0.205);
            opacity: 0.8;
            }
            img{
                width: 100%;
                height: 100%;

            }
            .miniitem{
                background-color: rgba(0, 128, 122, 0.205);
                grid-template-rows: repeat(10, 100px);
                grid-template-columns: auto 50px auto 100px;
            }

       
    }

    .green{
        background-color: green;
    }
} 