.title{
    margin :0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.AppTitle{
    font-size: 100px;
    display : flex;
    align-items: center;
    justify-content: center;
  }
  
  .subTitle{
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    color: red
  }