.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 90%;
    height: 100vh;
    background-color: #f2f2f2;
    text-align: left;
    padding: 32px 112px 16px 16px;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1000;
}

.overlay[data-open='true'] {
    display: block;
}

.menu[data-open='true'] {
    transform: translateX(0);
}