.storiesCompContainer {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 1rem;
    width: 80%;
    padding: 1rem;

    .vicName {
        font-weight: 700;
        font-size: 1.5rem;
    }

    .vicDesc {
        max-width: 95%;
    }


    .read-or-hide {
        color: rgb(70, 70, 172);
        cursor: pointer;
    }
}