.container{
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 30px;
    align-content: center;
    align-items: center;

    box-shadow: 1px 1px 3px black;
    // border: 0.5px black solid;
    border-radius: 3px;

    margin: 5px;
    background-color: beige;

    p{
        padding-left: 10px;
        font-size: large;
    }

    button{
        // height: 30px;
        // background-color: rgb(243, 231, 161);
        // border: 0.5px black solid;
        // border-radius: 3px;
        margin-right: 5px;
        // display: inline-block;
        font-style: italic;
    }
}