.container{
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 30px;
    align-content: center;
    align-items: center;

    // box-shadow: 2px 2px 6px black;
    border: 0.5px black solid;

    margin: 2px;

    p{
        padding-left: 10px;
    }

    button{
        height: 30px;
    }
}