body {
    background-color: black;
}

.wrapper {
    
    .logo{
        top: 0px;
        left: 0px;
    }

    margin-left: 20vh;
    margin-right: 20vh;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: (10, 10vh);
    row-gap: 10vh;
    column-gap: 10vh;
    .main_grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        row-gap: 10vh;
        column-gap: 2vh;
        margin-bottom: 10vh;
        .item {
            background-color: white;
            color: white;
            height: 10vh;    
            .img {
                width: 100%;
            }.img:hover{
                transform: scale(1.5); 
            }
    
        }
    
    }

}

.font{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}