// .container{
//     display:flex;
//     justify-content: center;
//     margin-left:100px;
//     padding-left:50px;
//     padding-top:300px;
// }

.wrap{
    image{

    
    width:50%;
    margin-right: 20px;
    justify-content: center;
    }
}