.rest {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__images {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 20rem;
        margin-top: 1rem;

        &__photo {
            background-position: 50%;
            background-size: cover;
            border-radius: 12px;
            width: 49%;
            height: 100%;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                width: 0%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.4);
                -webkit-transition: none;
                -moz-transition: none;
                -ms-transition: none;
                -o-transition: none;
                transition: none;

            }

            &:hover {
                &:after {
                    width: 120%;
                    background-color: rgba(255, 255, 255, 0);
                    -webkit-transition: all 0.3s ease-out;
                    -moz-transition: all 0.3s ease-out;
                    -ms-transition: all 0.3s ease-out;
                    -o-transition: all 0.3s ease-out;
                    transition: all 0.3s ease-out;
                }
            }
        }
    }

    &__main {
        margin-top: 3rem;
        margin-bottom: 3rem;
        width: 80%;
        display: flex;
        flex-direction: column;

        &__header {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            &__left {
                display: flex;
                justify-content: space-around;

                img {
                    width: 8rem;
                    height: 8rem;
                    border-radius: 12px;
                    object-fit: cover;
                    object-position: center;
                }

                &__title {
                    margin-left: 1rem;
                    display: flex;
                    flex-direction: column;

                    h1 {
                        color: #242529;
                        font-size: 2rem;
                        margin-top: 0;
                    }

                    &__category {
                        display: flex;
                        align-items: center;

                        span {
                            &:first-letter {
                                text-transform: capitalize;
                            }

                            margin-right: 0.2rem;
                        }

                        .dot {
                            height: 0.2rem;
                            width: 0.2rem;
                            background-color: black;
                            border-radius: 50%;
                        }
                    }
                }
            }

            &__right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                &__openings {
                    h3 {
                        margin-bottom: 1rem;
                    }

                    h4 {
                        margin-top: 0.2rem;
                        margin-bottom: 0.2rem;
                        font-weight: bold;
                    }

                    span {
                        color: #34353a;
                        font-weight: 500;

                    }
                }
            }
        }

        &__body {
            display: flex;
            flex-direction: column;

            &__description {
                width: 60%;

                &__sub {
                    display: flex;
                    justify-content: flex-start;
                    margin-top: 2rem;
                }
            }
        }
    }
}